<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Learning1</title>
    <script src="https://unpkg.com/vue@next"></script>
    <style>
      .box {
        padding: 100px 0;
        width: 400px;
        text-align: center;
        background: #ddd;
        margin: 20px;
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <h1>Hello, Vue</h1>
    <div id="app">
      <!-- attribute binding -->
      <!-- <a v-bind:href="url">Apricot Web HomePage</a> -->
      <a :href="url">Apricot Web HomePage</a>

      <div v-if="showBooks">
        <ul>
          <li v-for="book in books">{{ book.title }} - {{book.author}}</li>
        </ul>
      </div>
      <button @click="toggleShowBooks">
        <span v-if="showBooks">Hide Books</span>
        <span v-else>Show Books</span>
      </button>
      <p v-show="showBooks">showing books now</p>
    </div>
    <script src="app.js"></script>
  </body>
</html>
