<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Learning1</title>
    <script src="https://unpkg.com/vue@next"></script>
    <style>
      .box {
        padding: 100px 0;
        width: 400px;
        text-align: center;
        background: #ddd;
        margin: 20px;
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <h1>Hello, Vue</h1>
    <div id="app">
      <div v-if="showBooks">
        <h2>{{ title }} - {{author}} - {{age}}</h2>
      </div>
      <button @click="toggleShowBooks">
        <span v-if="showBooks">Hide Books</span>
        <span v-else>Show Books</span>
      </button>
      <p v-show="showBooks">showing books now</p>

      <br />
      <!-- mouse events -->
      <div class="box" @mouseover="handleEvent($event, 5)">
        mouseover(enter)
      </div>
      <div class="box" @mouseleave="handleEvent">mouseleave</div>
      <div class="box" @dblclick="handleEvent">double click</div>
      <div class="box" @mousemove="handleMouseMove">
        position: {{ x }} - {{ y }}
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
